{% extends "salud/master.twig" %}
{% set nav = 0 %}
{% block titulo %}Administración{% endblock titulo %}
{% block linkhead %}
{% endblock %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="nothing-navbar"></div>
<div id="" class="admin-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Menú de administrador</h1>
                <hr>
            </div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <span class="badge" style="margin: 0 3px;"><a href="{{urlFor('shwCrearEje')}}"> <i class="fa fa-plus"></i> Nuevo </a></span> Ejes de participación
                    </li>
                    {% for eje in ejes %}
                    <li class="list-group-item">
                        <a href="{{ urlFor('shwModifEje', {'idEje': eje.contenible_id}) }}" class="pull-right" style="margin: 0 3px;"><span class="badge"><i class="fa fa-pencil"></i> Edit </span></a>
                        {{ eje.orden }}. {{ eje.titulo|bbCode }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <span class="badge" style="margin: 0 3px;"><a href="{{urlFor('shwCrearEvento')}}"> <i class="fa fa-plus"></i> Nuevo </a></span> Cronograma de Actividades
                    </li>
                    {% for actividad in actividades %}
                    <li class="list-group-item">
                        <form action="{{ urlFor('runElimiEvento', {'idEve': actividad.id }) }}" method="POST">
                            <button type="submit" class="pull-right" style="padding: 0;border: 0;background-color: transparent;margin: 0 2px;"><span class="badge" style="background-color:red;"><i class="fa fa-times"></i></span></button>
                        </form>
                        {{actividad.titulo}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        Administrar sitio
                    </li>
                    <li class="list-group-item">
                        <a href="{{ urlFor('shwCrearModerad') }}" class="pull-right"><span class="badge"><i class="fa fa-pencil"></i> Editar</span></a>
                        Moderadores
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <span class="badge" style="margin: 0 3px;"><a href="{{urlFor('shwEstadi')}}"> <i class="fa fa-eye"></i> Ver </a></span> Estadisticas
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
                    <li class="list-group-item active">
                        Exportar
                    </li>
                    <li class="list-group-item">
                        <a href="{{ urlFor('shwEmails') }}" class="pull-right"><span class="badge"><i class="fa fa-download"></i>Ver</span></a>
                        Email Usuarios
                    </li>
                    <li class="list-group-item">
                        Respuestas a Ejes<br>
                        {% for eje in ejes %}
                        <a href="{{ urlFor('shwImprimirEje', {'idEje': eje.id}) }}" class=""><span class="badge"><i class="fa fa-download fa-fw"></i> {{eje.id}}&nbsp;</span></a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <ul class="list-group">
            <li class="list-group-item active">
                <span class="badge" style="margin: 0 3px;"><a href="{{urlFor('shwCrearPrincipio')}}"> <i class="fa fa-plus"></i> Nuevo </a></span> Principio
            </li>
            {% for principio in principios %}
            <li class="list-group-item">
                <form action="{{ urlFor('runEliminarPrincipio', {'idPri': principio.id }) }}" method="POST">
                    <button type="submit" class="pull-right" style="padding: 0;border: 0;background-color: transparent;margin: 0 2px;"><span class="badge" style="background-color:red;"><i class="fa fa-times"></i></span></button>
                </form>
                {{principio.orden}}. <b>{{principio.titulo}}</b> <small>{{principio.descripcion}}</small>
            </li>
            {% endfor %}
        </ul>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}
{% endblock scripts %}
