{% if rta.comentarios|length > 0 %}
{% for comentario in rta.comentarios %}
<div class="row">
    <div class="col-xs-12">
        <div class="comentario-container con-linea">
            <a class="avatar-comentarios" href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}">
                {% if comentario.autor.patrulla_id != null %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/moderador.svg" >
                        {% else %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/avatars-0{{comentario.autor.id % 4}}.svg">
                        {% endif %}
            </a>
            <div class="media-body ">
                {% if user and (user.patrulla_id != null) %}
                <a href="javascript:eliminarComentario({{comentario.id}})" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;"
                   data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"><i class="fa fa-times"></i></a>
                {% endif %}
                <div class="comment-cuerpo">
                    <strong>{{ comentario.autor.patrulla_id != null ? "<i class='fa fa-check' title='Moderador'></i>" }} {{ comentario.autor.nombre }} {{ comentario.autor.apellido }}</strong>&nbsp;<span style="font-size:11px"><i>comentó el {{comentario.created_at|date('d-m-Y H:i')}}</i></span><br>
                    {{ comentario.cuerpo|nl2br }}
                </div>
                <div class="" style="margin-top:10px;">
                    {% if user is not empty %}
                    <a href="javascript:votarComentario({{comentario.id}},1)" class="verde" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="Me gusta"><i class="fa fa-arrow-up fa-fw"></i></a>
                    <span><b>&nbsp;{{comentario.karma}}&nbsp;</b></span>
                    <a href="javascript:votarComentario({{comentario.id}},-1)" class="rojo" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="No me gusta"><i class="fa fa-arrow-down fa-fw"></i></a>
                    <a href="javascript:verBoxResponder({{comentario.id}})" class="pull-right color-{{(seccionColor) % 3}}" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="Responder">Responder <i class="fa fa-reply fa-fw"></i> <b>{{comentario.respuestas|length}}</b></a>
                    {% else %}
                    <a href="{{urlFor('shwLogin')}}" class="verde" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="Me gusta"><i class="fa fa-arrow-up fa-fw"></i></a>
                    <span><b>&nbsp;{{comentario.karma}}&nbsp;</b></span>
                    <a href="{{urlFor('shwLogin')}}" class="rojo" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="No me gusta"><i class="fa fa-arrow-down fa-fw"></i></a>
                    <a href="{{urlFor('shwLogin')}}" class="pull-right color-{{(seccionColor) % 3}}" data-toggle="tooltip" data-placement="bottom"
                       data-original-title="Responder"><i class="fa fa-reply fa-fw"></i> <b>{{comentario.respuestas|length}}</b></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="lista-respuestas" style="margin-top:20px; padding-left:55px;">
            <form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'comentario', 'idRaiz': comentario.id }) }}"
                  method="POST">
                <div id="respComentario-{{comentario.id}}" class="comentario-container con-linea" style="display:none;">
                    <a class="avatar-comentarios respuestas" href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}">
                       {% if user.patrulla_id != null %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/moderador.svg" >
                        {% else %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/avatars-0{{user.id % 4}}.svg">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <div class="comment-cuerpo">
                            <strong>{{ user.patrulla_id != null ? "<i class='fa fa-check' title='Moderador'></i>" }} {{ user.nombre }} {{ user.apellido }}</strong>
                            <textarea name="cuerpo" class="form-control respuesta" rows="1" placeholder="Escriba aquí su respuesta"></textarea>
                            <div class="clearfix" style="margin: 10px 0;">
                                <button type="submit" class="pull-right btn btn-xs btn-submit "><i class="fa fa-check fa-fw"></i> Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            {% if comentario.respuestas|length > 0 %}
            {% for respuesta in comentario.respuestas|reverse %}
            <div class="comentario-container con-linea" style="margin-bottom:10px;">
                <a class="avatar-comentarios respuestas" href="{{ urlFor('shwUsuario',{'idUsu': comentario.autor.id}) }}">
                    {% if respuesta.autor.patrulla_id != null %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/moderador.svg" >
                        {% else %}
                        <img src="{{ baseUrl() }}/assets-salud/img/avatar/avatars-0{{respuesta.autor.id % 4}}.svg">
                        {% endif %}
                </a>
                <div class="media-body">
                    <div class="btn-group-vertical btn-group-xs pull-right" style="margin-left: 5px;">
                        {% if user and (user.patrulla_id != null) %}
                        <a href="javascript:eliminarComentario({{respuesta.id}})" class="btn btn-warning"><i class="fa fa-times"></i></a>                        {% endif %}
                    </div>

                    <div class="comment-cuerpo">
                        <strong>{{ respuesta.autor.patrulla_id != null ? "<i class='fa fa-check' title='Moderador'></i>" }} {{ respuesta.autor.nombre }} {{ respuesta.autor.apellido }}</strong>&nbsp;<span style="font-size:11px"><i>comentó el {{comentario.created_at|date('d-m-Y H:i')}}</i></span>
                        <br>
                        {{ respuesta.cuerpo|nl2br }}</div>
                    <div class="" style="margin-top:10px;">
                        {% if user is not empty %}
                        <a href="javascript:votarComentario({{respuesta.id}},1)" class="verde" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="Me gusta"><i class="fa fa-arrow-up fa-fw"></i></a>
                        <span><b>&nbsp;{{respuesta.karma}}&nbsp;</b></span>
                        <a href="javascript:votarComentario({{respuesta.id}},-1)" class="rojo" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="No me gusta"><i class="fa fa-arrow-down fa-fw"></i></a>
                        {% else %}
                        <a href="{{urlFor('shwLogin')}}" class="verde" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="Me gusta"><i class="fa fa-arrow-up fa-fw"></i></a>
                        <span><b>&nbsp;{{respuesta.karma}}&nbsp;</b></span>
                        <a href="{{urlFor('shwLogin')}}" class="rojo" data-toggle="tooltip" data-placement="bottom"
                           data-original-title="No me gusta"><i class="fa fa-arrow-down fa-fw"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-xs-12">
    <div class="text-center">
        <h3 class="black gris">No hay comentarios<br><small>¡Sea el primero dejando su comentario!</small></h3>
    </div>
</div>
{% endif %}
