<div class="comentario-container clearfix">
    <a class="avatar" href="{{ urlFor('shwUsuario',{'idUsu': rta.autor.id}) }}">
        <img src="{{ baseUrl() }}/assets-salud/img/avatar-rta.svg">
    </a>
    <div class="media-body">
        <div class="panel-votacion pull-right">
            {% if user and (user.patrulla_id != null) %}
                <a href="javascript:eliminarRespuesta({{rta.id}})" class="btn btn-xs btn-warning pull-right" style="margin-left:5px;"
                   data-toggle="tooltip" data-placement="bottom" data-original-title="Eliminar"><i class="fa fa-times"></i></a>
                {% endif %}
            <a href="{{ user == null ?  urlFor('shwLogin') : 'javascript:votarRespuestaEje(' ~ rta.id ~',1)'}}" class="votar-respuesta-pregunta votar-respuesta-me-gusta" data-toggle="tooltip" data-placement="bottom" data-toggle="tooltip" data-placement="bottom" title="Me gusta"><img src="{{ baseUrl() }}/assets-salud/img/thumb-up-button.svg" alt="Me gusta"></a>
            <a href="{{ user == null ?  urlFor('shwLogin') : 'javascript:votarRespuestaEje(' ~ rta.id ~',-1)'}} "  class="votar-respuesta-pregunta votar-respuesta-no-me-gusta"  data-toggle="tooltip" data-placement="bottom" title="No me gusta"><img src="{{ baseUrl() }}/assets-salud/img/thumb-down-button.svg" alt="No me gusta"></a>
        </div>
        <div class="datos-respuesta-usuario">
            <h4><b>{{rta.usuario.nombre}} {{rta.usuario.apellido}}</b> respondió<br>{{rta.createdAt|date('d-m-Y')}}</h4>
        </div>
    </div>
    <div class="usuario-respuestas text-left clearfix">
        {% for pregunta in eje.preguntas %}
        <p class="eje-pregunta">{{loop.index}}. {{pregunta}}</p>
        <p class="respuesta-eje">{{ rta.respuestas[loop.index-1] }}</p>
        {% endfor %}
    </div>
    <form class="form-horizontal" action="{{ urlFor('runComentar', {'tipoRaiz': 'respuesta', 'idRaiz': rta.id }) }}"
          method="POST">
        <div class="comentar-respuesta-usuario form-group">
            <div class="input-group">
                <input class="form-control" name="cuerpo" type="text" placeholder="Opine sobre la siguiente respuesta{{ user == null ? ' INICIANDO SESION para poder participar' : '...' }} " {{ user == null ? 'readonly'}}>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit" {{ user == null ? 'style="display:none;"' }}>Comentar</button>
                </span>
                <span class="input-group-btn">
                    <a  data-toggle="modal" data-target="#comentarios{{ rta.id }}" class="btn btn-primary"><i class="fa fa-comments fa-fw"></i> {{comentariosSeccion}}</a>
                </span>
            </div>
        </div>
    </form>
</div>
