{% extends "salud/master-eje.twig" %}
{% set nav = 0 %}
{% block titulo %}{{eje.titulo|replace({'[b]': "", '[/b]': "",'[i]': "",'[/i]': ""})}}{% endblock titulo %}
{% block opengraph %}
<meta property="og:url" content="{{ baseUrl() }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{eje.titulo|replace({'[b]': "", '[/b]': "",'[i]': "",'[/i]': ""})}} - Santa Fe es Salud" />
<meta property="og:description" content="Desde el gobierno de la provincia de Santa Fe, nos proponemos un diálogo ciudadano para la construcción conjunta de las bases que guíen nuestro sistema de salud provincial, fundamentadas en la experiencia de la población santafesina y sus derechos adquiridos." />
<meta property="og:image" content="{{ baseUrl() }}/assets-salud/img/sharer.png" />
{% endblock %}
{% block linkhead %}
{% endblock %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="nothing-navbar"></div>
<a href="{{urlFor('shwEje',{'idEje':anterior.id})}}" class="control-pagina izquierda">
    <i class="fa fa-chevron-left fa-3x fa-pull-left"></i><h5 class="texto-izquierda pull-right" style="display:none">{{anterior.titulo|bbCode}}</h5>
</a>
<a href="{{urlFor('shwEje',{'idEje':siguiente.id})}}" class="control-pagina derecha">
    <i class="fa fa-chevron-right fa-3x fa-pull-right"></i><h5 class="texto-derecha pull-left" style="display:none">{{siguiente.titulo|bbCode}}</h5>
</a>
<div id="eje-box">
    <div class="container">
        <div class="block-svg">
            <div class="svg eje{{eje.orden}}"></div>
            <div class="row upperbox">
                <div class="col-xs-12 text-center">
                    <h1>{{eje.titulo|bbCode}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 eje-container">
                    <div class="descripcion-eje">
                        <p>
                            {{eje.descripcion|bbCode}}
                        </p>
                        {% if  eje.links|length > 0 %}
                        <br>
                        <br>
                        <p>
                            <b>Descargar material de consulta:</b>
                            <br>
                            {% for link in eje.links %}
                            <br>
                            <i class="fa fa-link fa-fw fa-lg"></i><a href="{{link.url}}">{{link.label}}</a>
                            {% endfor %}
                        </p>
                        {% endif %}
                        <div class="participacion-container">
                            {% if respuesta == null %}
                            <div class="block-svg">
                                <div class="svg participar-comment"></div>
                                <div class="row upperbox small">
                                    <div class="col-xs-12 text-center">
                                        <h2><b>¡Tu opinión nos interesa!</b><br>Queremos que participes<br><b>respondiendo estas preguntas</b></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="questions">
                                <form action="{{urlFor('runResponderEje', {'idEje': eje.id})}}" method="POST">
                                    {% for pregunta in eje.preguntas %}
                                    <div class="form-group">
                                        <label for="txt1">{{loop.index}}. {{pregunta}}</label>
                                        <textarea name="respuesta-pregunta" class="form-control" rows="1" {{ user == null ? 'placeholder="Para participar, por favor registresé o inicie sesión" readonly' }}></textarea>
                                    </div>
                                    {% endfor %}
                                    <input type="text" name="respuestas" hidden>
                                    <div class="form-group">
                                        <label for="txt1">¿Que tan importante te parece este eje?</label>
                                        <br>
                                        <br>
                                        <div class="btn-interes btn-group btn-group-justified hidden-xs" data-toggle="buttons">
                                            <label class="interes btn btn-primary btn-lg" data-numero="3">
                                                <input type="radio" name="valoracion" value="3" autocomplete="off"> Muy importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="2">
                                                <input type="radio" name="valoracion" value="2" autocomplete="off"> Importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="1">
                                                <input type="radio" name="valoracion" value="1" autocomplete="off"> Poco importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="0">
                                                <input type="radio" name="valoracion" value="0" autocomplete="off"> No me interesa
                                            </label>
                                        </div>
                                        <div class="btn-interes btn-group-vertical hidden-sm hidden-md hidden-lg" data-toggle="buttons">
                                            <label class="interes btn btn-primary btn-lg" data-numero="3">
                                                <input type="radio" name="valoracion" value=3 autocomplete="off"> Muy importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="2">
                                                <input type="radio" name="valoracion" value="2" autocomplete="off"> Importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="1">
                                                <input type="radio" name="valoracion" value="1" autocomplete="off"> Poco importante
                                            </label>
                                            <label class="interes btn btn-primary btn-lg " data-numero="0">
                                                <input type="radio" name="valoracion" value="0" autocomplete="off"> No me interesa
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <br>
                                        <br>
                                        {% if user is null %}
                                        <a href="{{urlFor('shwLogin')}}" class="boton primary size-14 is-raleway is-700">REGISTRESÉ o INICIE SESIÓN para poder participar</a>
                                        {% else %}
                                        <button type="submit" class="boton primary size-16 is-raleway is-700">Enviar</button>
                                        {% endif %}
                                        <br>
                                        <br>
                                    </div>
                                </form>
                            </div>
                            {% else %}
                            <div id="exito" class="block-svg">
                                <div class="svg participar-confirmacion"></div>
                                <div class="row upperbox small">
                                    <div class="col-xs-12 text-center">
                                        <br>
                                        <br>
                                        <br>
                                        <h2><b>¡Gracias por participar!</b><br>Tus respuestas<br>se cargaron correctamente</h2>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <br>
                                <a href="{{urlFor('shwEjes')}}" class="boton primary size-16 is-raleway is-700">Aceptar</a>
                            </div>
                            {% endif %}
                            <div class="text-center">
                                <br>
                                <br>
                                <a href="javascript:verComentarios()" class="ver-comentarios-link">Ver respuestas de otros usuarios</a>
                                <a href="javascript:ocultarComentarios()" class="ocultar-comentarios-link" style="display:none;">Ocultar respuestas de otros usuarios</a>
                            </div>
                            <div class="lista-respuestas-preguntas" style="display:none;">
                                {% if eje.respuestas|length > 0%}
                                <hr>

                                {% if eje.respuestas|length > 3 %}
                                {% set mostrarMasRespuestas = true %}
                                {% else %}
                                {% set mostrarMasRespuestas = false %}
                                {% endif %}

                                {% for rta in eje.respuestas|reverse %}
                                {% set comentariosSeccion = rta.comentarios|length %}
                                {% for comentario in rta.comentarios %}
                                {% set comentariosSeccion = comentariosSeccion + comentario.respuestas|length %}
                                {% endfor %}
                                {% if loop.index <= 3 %}
                                                    <div id="respuesta-pregunta-{{ rta.id }}">
                                {% include 'salud/contenido/eje/respuestas-preguntas.twig' %}
                            </div>
                            {% include 'salud/contenido/eje/comentarioModal.twig' %}
                            {% else %}
                            <div id="respuesta-pregunta-{{ rta.id }}" class="respuestas-ocultas" style="display:none;">
                                {% include 'salud/contenido/eje/respuestas-preguntas.twig' %}
                            </div>
                            {% include 'salud/contenido/eje/comentarioModal.twig' %}
                            {% endif %}

                            {% endfor %}
                            {% if mostrarMasRespuestas %}
                            <div class="text-center cargar-mas-respuestas">
                                <br>
                                <br>
                                <br>
                                <a href="javascript:cargarMasRespuestas()" class="pill login">Cargar más respuestas</a>
                                <br>
                                <br>
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="text-center">
                                <h3 class="black gris">No hay respuestas<br><small>¡Sea el primero dejando su respuesta!</small></h3>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<form id="votarComentario" method="POST">
    <input type="text" name="valor" hidden>
</form>
<form id="votarRespuestaEje" method="POST">
    <input type="text" name="valor" hidden>
</form>
{% if user.patrulla_id != null %}
{% include 'salud/contenido/moderar.twig' %}
{% endif %}
{% endblock body %}
{% block scripts %}
<script src="{{ baseUrl() }}/assets-salud/js/autosize.min.js"></script>
<script>
    $(document).ready(function() {
        autosize($('textarea'));
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    });

    function verComentarios(){
        $('.lista-respuestas-preguntas').show();
        $('.ver-comentarios-link').hide();
        $('.ocultar-comentarios-link').show();
    }
    function ocultarComentarios(){
        $('.lista-respuestas-preguntas').hide();
        $('.ocultar-comentarios-link').hide();
        $('.ver-comentarios-link').show();
    }
    function cargarMasRespuestas(){
        $('.respuestas-ocultas').show();
        $('.cargar-mas-respuestas').hide();
    }
    $(".interes").click(function(e) {
        $(".interes").removeClass('active focus');
        $(".interes[data-numero=" + $(this).data('numero') + "]").addClass('active focus');
        //        console.log( $(this).data('numero'));
        $("input[type=radio]").prop("checked", false);
        $("input[value=" + $(this).data('numero') + "]").prop("checked", true);
    });
    $( ".control-pagina.izquierda" ).hover(  function() {
        $( ".control-pagina.izquierda .texto-izquierda" ).show( 200 );
    }, function() {
        $( ".control-pagina.izquierda .texto-izquierda" ).hide( );
    });
    $( ".control-pagina.derecha" ).hover(  function() {
        $( ".control-pagina.derecha .texto-derecha" ).show( 200 );
    }, function() {
        $( ".control-pagina.derecha .texto-derecha" ).hide( );
    });

    $('form').submit(function(e) {
        //                e.preventDefault();
        var secciones = [];
        $( "textarea[name=respuesta-pregunta]" ).each(function( index ) {
            secciones.push($( this ).val());
        });
        $('input[name=respuestas]').val(JSON.stringify(secciones));
        $('button[type=submit]').html('<i class="fa fa-spin fa-gear fa-lg"></i>');
        //        return true;
    })

    var votarRespuestaEje = function(id, valor) {
        var action_no = "{{ urlFor('runVotarRespuesta') }}";
        $('#votarRespuestaEje').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idRes', id);
        $('#votarRespuestaEje').attr('action', action_yes);
        $('#votarRespuestaEje').submit();
    }

    var verBoxResponder = function(id) {
        $('#respComentario-' + id).toggle();
    }

    var votarComentario = function(id, valor) {
        var action_no = "{{ urlFor('runVotarComenta') }}";
        $('#votarComentario').find('input[name="valor"]').val(valor)
        var action_yes = action_no.replace(':idCom', id);
        $('#votarComentario').attr('action', action_yes);
        $('#votarComentario').submit();
    }


</script>
{% if user.patrulla_id != null %}
{% include 'salud/contenido/moderar.js.twig' %}
{% endif %}
{% endblock scripts %}
