{% extends "salud/master.twig" %}
{% set nav = 0 %}
{% block titulo %}Cronograma de actividades{% endblock titulo %}
{% block linkhead %}

{% endblock %}
{% block header %}
{% endblock header %}
{% block body %}
<div class="nothing-navbar"></div>
<div id="static-box">
    <div class="container">
        <div class="block-svg">
            <div class="svg cronograma"></div>
            <div class="row upperbox">
                <div class="col-xs-12 col text-center">
                    <h1><b>Cronograma</b> de actividades</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 lista-actividades">

            {% for actividad in actividades %}
            <div class="actividad">
                  <p class="info"><b>{{actividad.fecha_desde|date("d/m/Y")}}{{ actividad.fecha_hasta|date("d/m") != actividad.created_at|date("d/m") ? ' al ' ~ actividad.fecha_hasta|date("d/m/Y") : ''}} -</b> {{actividad.lugar}}</p>
                  <h3>{{actividad.titulo}}</h3>
                  <p>{{actividad.descripcion|nl2br}}</p>
                  {% if actividad.info != null %}
                  <br>
                  <p class="mas-info"><b>Más info:</b> <a href="http://{{actividad.info}}">{{actividad.info}}</a></p>
                  {% endif %}
              </div>
              <hr>
         {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}

{% endblock scripts %}
