{% extends "salud/master.twig" %}
{% set nav = 0 %}
{% block titulo %}Ejes de participación{% endblock titulo %}
{% block opengraph %}
<meta property="og:url" content="{{ baseUrl() }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Ejes de participación - Santa Fe es Salud" />
<meta property="og:description" content="Desde el gobierno de la provincia de Santa Fe, nos proponemos un diálogo ciudadano para la construcción conjunta de las bases que guíen nuestro sistema de salud provincial, fundamentadas en la experiencia de la población santafesina y sus derechos adquiridos." />
<meta property="og:image" content="{{ baseUrl() }}/assets-salud/img/sharer.png" />
{% endblock %}
{% block linkhead %}
{% endblock %}
{% block header %}
{% endblock header %}
{% block body %}
<img class="corazon-ejes" src="{{baseUrl()}}/assets-salud/img/icono-ejes.png" alt="">
<div class="nothing-navbar"></div>
<div id="ejes">
    <div class="container">
        <div class="row header-ejes">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <h1>¿Como puedo <b>participar</b>?</h1>
                <p>A continuación encontrarás 8 ejes en torno al derecho a la salud para el debate; cada uno tiene un desarrollo y algunas preguntas que van a orientarte para que puedas participar. Ahí mismo, luego de registrarte, podrás dejar tu comentario. Podés comentar solo en un eje, en dos o en los ocho.<br><br>
                    Recordá que es muy importante tu participacion segun tu experiencia. <b>Podés participar las veces que quieras,</b> e incluso sumarte tambien a nuestros Foros Presenciales. Visitá el <a href="{{urlFor('shwActividades')}}"><b>cronograma de actividades</b></a> para conocer cúando es el próximo.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid box">
        <div class="container">
            <div class="row listado-ejes">
                {% for eje in ejes %}
                <div class="col-xs-12 {{ (loop.last) and (loop.index is odd) ? 'col-md-12' : 'col-md-6' }}">
                    <div class="eje-container">
                        <div class="block-svg">
                            <div class="svg eje{{eje.orden}}"></div>
                            <div class="informacion">
                                <h2>{{eje.titulo|bbCode}}</h2>
                                <p>{{eje.resumen|bbCode}}</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{{urlFor('shwEje', {'idEje': eje.id})}}" class="boton primary size-16  is-raleway is-700">Participá</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
{% block scripts %}

{% endblock scripts %}
